.login_Container{
    text-align: center;
}
.login{
    /* background-color: #1EB2AC; */
    background-color: #0D7F7A;
    padding:100px;
} 

.login_input{
    border-radius: 7px;
} 

#login-form{
    display: inline-block;
    text-align: left;
    width: 100%;
}


.login_box{
    width:50%;
    padding:3rem;
   
    border-radius: 10px;
    background-color: #F8F8F8;
    text-align: center;
}

#Submit{
    margin-top:1rem;
    background-color: #004080;
    color: #FFFFFF;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
}